.loginForm {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #DC143C;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: center;
}