html, body{
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}


.loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #90EE90;
    border: 1px solid #3CB371;
    border-radius: 10px;


    border: 2px solid #ff0000;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: flex; /* Добавляем Flexbox */
    align-items: center; /* Выравнивание по вертикали по центру */

    height: 40px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 2px;
    justify-content: center;
    overflow: hidden;
}

#button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    background-color: #FFDAB9;
    color: #fff;
    padding: 10px 20px;
    border: none;
}

#button-2 a {
    position: relative;
    //transition: all .35s ease-Out;
}

#slide {
    width: 100%;
    height: 100%;
    left: -300px;
    background: #BFC0C0;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

#button-2:hover #slide {
    left: 0;
}

#button-2:hover a {
    color: #2D3142;
}




.loginForm-button-submit{
    //position: relative;
    text-align: center;
    background-color: #007bff;
    //color: #fff;
    //padding: 10px 20px;
    //border: none;
    //cursor: pointer;

    border: none;
    //font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.loginForm-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.loginForm-label-login,
.loginForm-label-password{
    font-size: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

}/*

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: center;
}*/

body {
    width: 100%;
    height: 100%;
    font-family: Calibri;

    /* Фон страницы фиксируется */
    background: #000 url("img/background.jpg") repeat-x fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* Изображение повторяется по горизонтали
}